.basket-paragraph {
    font-size: 22px;
    font-weight: 700;
    padding-left: 20px;
}

.container-main-basket {
    display: flex; 
    flex-wrap: wrap; 
    gap: 5px; 
    padding: 15px;
    flex-direction: column;
}

.order-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px; 
    margin: 10px 30px;
}

.information, .delivery {
    display: flex;
    flex-direction: column;
}

.single-info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.choose-group {
    margin-bottom: 20px;
}

.submit-reset {
    display: flex;
    justify-content: space-around;
}

.submit-reset button {
    height: 30px;
    width: 40%;
    border-radius: 8px;
}

.bi-list-ul {
    cursor: pointer;
}

.container-cards-basket {
    display: grid; 
    grid-template-columns: repeat(5, 260px); 
    gap: 20px; 
    width: 100%;
    padding: 20px 50px 20px 60px; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
}

.total-cost-note {
    margin: 5px 10px 20px 10px;
}

.good .remove-button {
    background-color: #efefef; 
    border: none; 
    border-radius: 8px; 
    padding: 7px 15px; 
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    margin-top: auto;
}

.submit-reset button {
    cursor: pointer;
}

