.profile-paragraph {
    font-size: 22px;
    font-weight: 700;
    padding-left: 20px;
}

.container-main-profile {
    display: flex; 
    flex-wrap: wrap; 
    gap: 5px; 
    padding: 15px;
    flex-direction: column;
}

.table-order {
    width: 100%;
    border-collapse: collapse;
    padding: 10px 30px;
    box-sizing: border-box;
}

.orders-history {
    width: 100%;
}

.table-order th, .table-order td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table-order th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.action-button {
    background: none;
    border: none;
    cursor: pointer;
}

.action-button i {
    font-size: 1.2em;
}

.action-button.view i { color: blue; }
.action-button.edit i { color: orange; }
.action-button.delete i { color: red; }

.orders-history {
    width: 100%; 
    border-collapse: collapse;
    box-sizing: border-box; 
}

.hidden {
    display: none;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; 
}

.close-button {
    position: absolute; /* Позиционирование относительно .modal-content */
    top: 10px; 
    right: 10px;
    font-size: 30px; 
    color: #333; 
    cursor: pointer; 
    transition: color 0.3s; 
}

.modal-footer, .modal-footer-edit {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px; 
}

.modal-footer button, .modal-footer-edit button, .btn-danger, .btn-secondary {
    padding: 10px 20px;
    background-color:rgb(241,238,233);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
}

.modal-footer-edit button:last-child {
    background-color: rgb(241,238,233); 
    color: black;
}

.modal-footer-edit button:first-child {
    background-color: green; 
    color: white;
}

.hidden {
    display: none;
}

.btn-danger {
    margin-top: 15px;
    background-color: #e74c3c;
    color: white;
}

.btn-secondary {
    background-color: #95a5a6;
    color: white;
}

.delete-indentation {
    margin-top: 15px;
}

.notification {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    position: relative;
}

form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block; /* Перенос на новую строку */
}

textarea {
    resize: vertical;
    height: 100px;
}


.notification.info {
    background-color: #b1d3f7;
}

.notification.success {
    background-color: #77ff97; 
}

.notification.error {
    background-color: #ff949f; 
}


